h1 {
  text-align: center;
}

body  {
padding: 64px;
}
.gpt-form {
  margin: auto;
  width: 50%;
}

.response {
  margin: auto;
  margin-top: 64px;
  width: 50%;
}

.explanation {
  margin: auto;
  width: 50%;

}
